.avatarImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:34px auto;
}
.avatarImage img{
    width: 250px;
    border-radius: 4px;
}
.textBox{
    display: inline-block;
    padding:10px 30px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid blue;
    margin: 5px;
}
.userDetails-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: auto;
    flex-direction: column;
}